.slim-view {
    .header {
        height: 80px;

        nav {
            display: none;
        }
    }

    main {
        padding-top: 80px;
    }

    .footer {
        display: none;
    }
    @media screen and (max-width: 768px) {
        .header {
            height: 60px;
        }

        main {
            padding-top: 60px;
        }
    }
}